@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap'); 

* {
	box-sizing: border-box;
}

body, html {
	margin: 0;
	padding:0;
/*	height:50%;*/ /* PROF NOTE: forcing the body to be half the height of the window was causing some issues */

}

.nanum-pen script-regular {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.navbar {
	background-color: #333;
 	color: #fff;
 	padding: 10px 0;
 	position: fixed;
 	top: 0;
 	right: 0;
 	width: 100%;
 	z-index: 100;
 	font-family: "Nanum Pen Script";
  font-weight: 400;
  font-style: normal;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: #6e8641;
  padding: 10px 0;
  display: flex;
	justify-content: flex-end;
}

.mnavbar {
  position: fixed;
  width: 100%;
  background-color: #6e8641;
  padding: 10px 0;
  display: flex;
	justify-content: center;
	display: none;
}

.header-container {
  text-align: left;
  margin-left: 20px;
}

.container {
	max-width: 1200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	color: #fefbea;
}

.menu a {
	color: #fff;
	text-decoration: none;
	margin-left: 20px;
	font-size: 2rem;
}

.menu a:hover {
	color: #ccc;
}

.swiper-wrapper a {
	color: #3d251e;
	font-size: 1.4rem;
	text-decoration: none;
}


.swiper-wrapper a:hover {
	color: #a08679;
	text-decoration: none;
}

.RecentEpisodes {
	text-decoration: none;
}

.container {
	display: flex;
	justify-content: flex-end;
}

.homebutton{
	position: relative;
	padding: 15px 40px;
	background: #fff;
	color: #555;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 30;
	letter-spacing: 2px;
	transition: 0.5s;
} 

.parallax {
/*	height: 75%;*/
	background-image: url('PICT2402.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
/*	overflow: hidden;*/
/*	position: relative;*/
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.parallax > img {
	height: 100%;
}

.content {
	background-image: radial-gradient(#c2b7ae 2px, transparent 2px);
	background-size: 32px 32px;
	background-color: #fefbea;
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 20px;
	font-size: 2.2rem;
	font-family: "Nanum Pen Script";
  font-weight: 200;
  font-style: normal;
  color: #432616;
}

.RecentEpisodes {
	height: 300px;
	background-color: ;
	font-size: 36px;
	font-family: "Nanum Pen Script";
  font-weight: 400;
  font-style: normal;
  text-align: center;


}

/* PROF NOTE: Styles to resize the swiper and scale/crop the images to it */

.swiper {
/*  width: 100%;*/
/*  height: 90vh;*/
}

/* PROF NOTE: Global "root" variable to change the color of the swiper buttons */

:root {
  --swiper-theme-color: #fefbea;
}

.episodePreviewContainer {
	background-color: #b7c297;
	padding: 2em;
	border-radius: 5px;
	display: flex;
	gap: 1em;
	font-size: 1.3rem;
}

.episodePreviewContainer > img, .episodePreviewInfo {
	flex-grow: 1;
	flex-basis: 50%;
	width: 50%;
} 

.episodePreviewContainer > img {
	border-radius: 5px;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.EpisodesMain > firstrow {
width: 25% ;
height: 25%;
}

.EpisodesLogo {
height:20%;
width: 20%;
}

.row {
  padding: 15px;
  justify-content: 	space-evenly;
}

.firstrow	{
	display: 	flex	;
	justify-content: 	space-evenly	;
	margin-top: 15%;
}

.secondrow	{
	display: 	flex	;
	justify-content: 	space-evenly	;
}

.thirdrow	{
	display: 	flex	;
	justify-content: 	space-evenly	;
}

.fourthrow	{
	display: 	flex	;
	justify-content: 	space-evenly	;
	margin-bottom: 15%;
}

/* Create two equal columns that sits next to each other */
.column {
  padding: 30px;
  border-radius: 	7px;
  justify-content: 	space-evenly	;


}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  border-radius: 7px	;
  justify-content: 	space-evenly	;


  
}

.AboutUsContent {
	display: flex;
	justify-content: center	;
	padding: 	15px;
	align-content: space-around;
	background-image: radial-gradient(#c2b7ae 2px, transparent 2px);
	background-size: 32px 32px;
	background-color: #fefbea;
	font-size: 1.5rem;
}

.Yamila {
	display: inline-block	;
	padding: 	50px;
	font-family: "Nanum Pen Script";
  font-weight: 400;
  font-style: normal;
  text-align: center;
 
}

.Ashrita {
	display: inline-block;
	padding: 	50px;
	font-family: "Nanum Pen Script";
  font-weight: 400;
  font-style: normal;
  text-align: center;

}


.image-container {
	position: relative;
	display: 	inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  display: 	flex;
  justify-content: 	center;
  align-items: center	;
  opacity: 	0;
  transition: 0.2s ease;
  border-radius: 	5px;
  z-index: 3;
}

.overlay p {
	color: white	;
	font-size: 50px;
	font-family: "Nanum Pen Script";
  font-weight: 400;
  font-style: normal;
}

.image-container:hover .overlay{
	opacity: .95;
}





@media only screen and (max-width: 640px){

.mnavbar {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: fixed;
  width: 100%;
  background-color: #6e8641;
  padding: 10px 0;
  display: flex;
	justify-content: center;
}

.navbar {
	position: fixed;
	width: 100%;
	background-color:#6e8641 ;
	padding: 5px 0;
	display: flex;
	justify-content: flex-end;
}

.content {
	background-image: radial-gradient(#c2b7ae 2px, transparent 2px);
	background-size: 32px 32px;
	background-color: #fefbea;
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 20px;
	font-size: 1rem;
	font-family: "Nanum Pen Script";
  font-weight: 200;
  font-style: normal;
  color: #432616;
}

.episodePreviewContainer {
	background-color: #b7c297;
	padding: 2em;
	border-radius: 5px;
	display: flex;
	gap: 1em;
	font-size: .5 rem;
}

.parallax {
	background-image: url('PICT2402.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
/*	overflow: hidden;*/
/*	position: relative;*/
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.parallax > img {
	height: 100%;
}


.image-container {
	position: absolute;
	display: 	flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	height: 40vh;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%vh;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  display: 	flex;
  justify-content: 	center;
  align-items: center	;
  opacity: 	0;
  transition: 0.2s ease;
  border-radius: 	5px;
  z-index: 3;
}

.overlay p {
	color: white	;
	font-size: 50px;
	font-family: "Nanum Pen Script";
  font-weight: 400;
  font-style: normal;
}

.image-container:hover .overlay{
	opacity: .95;
}

.AboutUsContent {
	display: flex;
	flex-direction: column;
	justify-content: center	;
	padding: 	15px;
	align-content: space-around;
	background-image: radial-gradient(#c2b7ae 2px, transparent 2px);
	background-size: 32px 32px;
	background-color: #fefbea;
	font-size: 1rem;
}

}